<div class="jumbotron text-center">
    <h2>{{firstName}}'s items</h2>

    <div style="margin-left: auto; margin-right: auto; width:300px;">
        <span ng-if="dataItems.items.length == 0">You have no items</span>
        <span ng-if="dataItems.items.length > 0">Number of items: {{dataItems.items.length}}</span>
        <ul class="list-group">
            <li ng-repeat="item in dataItems.items" class="list-group-item">
                {{$index + 1}}: {{item}} <button type="button" class="btn btn-default btn-sm pull-right" ng-click="removeItem(item)">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></li>
            <li class="list-group-item"><input ng-model="newItem"/><button type="button" class="btn btn-default btn-sm pull-right"
                aria-label="Left Align" ng-click="addItem(newItem)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </ul>
    </div>
    
</div>